body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: black;
    color: white;
}

.theme-toggle {
    margin-left: 20px;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
  }
  
.theme-toggle .toggle {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-image: linear-gradient(aqua, skyblue);
    transition: background-image 0.3s ease;
    position: relative;
    margin: auto;
    cursor: pointer;
}
  
.theme-toggle .toggle.night {
    background-image: linear-gradient(midnightblue, rebeccapurple);
}

.notch {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top: 2px;
    left: 3px;
    box-shadow: 0 0 5px yellow;
    z-index: 1;
    transition: all 0.3s ease;
}

.notch > .crater {
    background: rgb(249, 249, 249);
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
}

.night .crater {
    opacity: 0.4;
}
.crater:first-child {
    left: 6px;
    top: 7px;
    height: 10px;
    width: 15px;
    border-radius: 50%;
    transform: rotate(-45deg);
}

.crater:nth-of-type(2) {
    left: 13px;
    top: 23px;
    height: 8px;
    width: 10px;
    border-radius: 50%;
}

.crater:last-child {
    right: 5px;
    top: 13px;
    height: 7px;
    width: 9px;
    border-radius: 50%;
    transform: rotate(45deg);
}

.night > .notch {
    background: whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    transform: translate(40px, 0);
}

.shape {
    position: absolute;
    background: whitesmoke;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.shape.sm {
    height: 5px;
    width: 20px;
    top: 40%;
    left: 60%;
}

.shape.md {
    height: 10px;
    width: 25px;
    top: 15%;
    left: 25%;
    z-index: 2;
}

.shape.lg {
    height: 10px;
    width: 30px;
    bottom: 5px;
    left: 30%;
}

.night .shape {
    box-shadow: 0 0 10px 2px violet;
    background: lightgray;
}

.night .shape.sm {
    height: 2px;
    width: 2px;
    transform: translate(-20px, 15px);
}

.night .shape.sm:first-of-type {
    transform: translate(-25px, -10px);
}

.night .shape.md {
    height: 5px;
    width: 5px;
    transform: translate(13px, 5px);
}

.night .shape.lg {
    height: 10px;
    width: 10px;
    transform: translate(-15px, -5px);
}