.education-container {
    .title {
      font-size: 25px;
    }
  
    .company {
      color: rgb(4, 182, 252);
      font-size: 22px;
      margin-top: 10px;
    }
  
    .date {
      font-size: 20px;
      padding: 6px;
    }
  
    .line {
      z-index: -1;
    }
  
    .detail {
      font-size: 18px;
    }
  }
  