.experience-container {
  .page-title {
  font-size: 50px;
  }

  .title {
    font-size: 22px;
  }

  .company {
    color: rgb(4, 182, 252);
    font-size: 17px;
  }

  .line {
    z-index: -1;
  }

}
