.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: midnightblue;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100px;

  .lg-links {
    display: none;
    font-size: 1.2rem;

    @media screen and (min-width: $laptop) {
      display: flex;
    }

    a {
      margin: 0 10px;
      position: relative;
      text-decoration: none;
      color: inherit;

      &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: skyblue;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover {
        color: skyblue;

        &::after {
          opacity: 1;
          width: 50%;
        }
      }

      &.active::after {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .sm-active {
    display: flex;

    @media screen and (min-width: $laptop) {
      display: none;
    }
  }

  .sm-links {
    position: absolute;
    top: 100px; 
    left: 0;
    width: 100%;
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    padding-bottom: 25px;

    a {
      font-size: 1.2rem;
      color: whitesmoke;
      text-decoration: none;
    }
  }

  .sm-links.active {
    max-height: 200px; 
    opacity: 1;
  }

  a:hover {
    color: skyblue;
    text-decoration: none;
  }

  button:hover {
    background-color: skyblue;
    color: whitesmoke;
    border: none;
  }
}